{% layout "layout.liquid" %} {% block content %}
<body class="loginpage"></body>

<div >
  <h1>Classical music lovers</h1>
  <a href="/users/signup/"><button>Signup</button></a>
  <a href="/users/login/"><button>Login</button></a>
</div>
</body>
{% endblock %}
