body {
    background-image: url("https://data.whicdn.com/images/70053125/original.gif");
    /* background-image: url("https://cdn.dribbble.com/users/1242979/screenshots/7099165/music.gif"); */
    background-size: cover;
    margin: 2em;
    color: black;
    /* background-image: url("https://i.pinimg.com/originals/49/26/52/492652d5649bb403be09e0ea3d04fbe7.gif"); */
}

h2 {
    font-size: 3em;
    color: black;
    font-family: 'Londrina Shadow', cursive;
}

h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
    font-size: 4em;
    background-color: rgb(118, 139, 177);
    font-family: 'Londrina Shadow', cursive;
}

.signup {
    color: whitesmoke;
    font-size: 2em;
    size: 2em;
}

#id {
    align-items: center;
}

.song {
    display: grid;
    grid-template-columns: 25vw 25vw 15vw;
    grid-template-rows: repeat(auto, 8vh);
}

.songsong {
    display: flex;
}

.container {
   display:flex;
   flex-flow: column nowrap;
    position: absolute;
    top: 35vh;
    left: 5vw;
    width: 60vw;
    height: 75vh;

}
.container2 {
    display:flex;
    flex-flow: column nowrap;
     position: absolute;
     top: 50vh;
     left: 5vw;
     width: 60vw;
     height: 75vh;
}

.signup2 {
    color: black;
    font-size: 2em;
    size: 2em;
    font-family: 'Londrina Shadow', cursive;
}

h3 {
    font-size: 2em;
    font-family: 'Londrina Shadow', cursive;
}

.songs {
    justify-items: center;
    display: inline;
    align-items: center;
    font-family: 'Londrina Shadow', cursive;
    margin: 10px;
    color: black;
}

#name {
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 4em;
    font-family: 'Londrina Shadow', cursive;
}

.composers {
    display: grid;
    grid-auto-flow: column;

}

.loginpage {
    background-image: url("https://cdn.dribbble.com/users/1242979/screenshots/7099165/music.gif");
    background-size: cover;
    /* background-image: url("https://i.pinimg.com/originals/c7/8c/2e/c78c2e9da2ef54230d6e0bcf412588d1.gif");
    background-size: cover;
*/
}

.index {
    display: grid;
    align-content: space-around;
    justify-items: start;

}

audio:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 3px 3px #333);
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: rgb(118, 139, 177);
    border: 0.1rem solid white;
    border-radius: 0.4rem;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: inset;
}

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'], input:not([type]), textarea, select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: 0.6rem 1rem 0.7rem;
    width: 20rem;
}

fieldset, input, select, textarea {
    margin-bottom: 1.5rem;
}