{% layout "layout.liquid" %} {% block content %}
<h1>Classical music lovers</h1>
<div><a href="/composers"><button>Composers</button></a>
    <a href="/playlists"><button>My playlist</button></a>
    <a href="/logout"><button>Logout</button></a>
    <a href="/"><button>Home</button></a>
</div>

{% for song in playlist.songs%}
<p>{{song.name}}</p>
{% endfor%}
<a href="/:id/edit{{forloop.index0}}" type="submit"><button>Edit my playlist name</button></a>

<a href="/edit/{{forloop.index0}}/edit" type="submit"><button>Add songs to my playlist</button></a>
<form action="/playlist/{{ song._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Delete songs" />

</form>

{% endblock %}